select{
    appearance: none;
    outline: none;
    box-shadow: none;
    border: 0!important;
    background: #0d0b02;
    background-image: none;
}
.select{
    position: relative;
    display: flex;
    width: 10em;
    height: 2em;
    line-height: 2;
    background: #333333;
    overflow: hidden;
    border-radius: .25em;
    text-align: center;
}
select{
    flex:1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
}

.select:hover{
    color: goldenrod;
}
